<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'RSS Reader', root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Entries', root_path %></li>
      <li><%= link_to 'Feeds', feeds_path %></li>
    </ul>
  </div>
</nav>